body{
  margin:0;
  font-family:'Inter', sans-serif;
  background:#111;
}

.container{
  display:flex;
  max-width:1000px;
  margin:auto;
  background:white;
}

/* LADO ESQUERDO */
.left{
  width:35%;
  background:#0d0d0d;
  color:white;
  padding:30px;
  text-align:center;
}

.perfil img{
  width:150px;
  height:150px;
  border-radius:50%;
  border:5px solid #4CAF50;
}

.perfil h1{
  margin:15px 0 5px;
}

.perfil h2{
  color:#4CAF50;
  font-weight:400;
  margin-bottom:15px;
}

.secao{
  margin-top:30px;
  text-align:left;
}

.secao h3{
  color:#4CAF50;
}

/* CONTATO */
.contato p{
  font-size:14px;
  margin:5px 0;
}

/* LADO DIREITO */
.right{
  width:65%;
  padding:40px;
  color:#333;
}

.right h2{
  border-bottom:2px solid #ccc;
  padding-bottom:5px;
}

.item{
  margin-top:20px;
}

.item h4{
  margin:0;
}

.item span{
  font-size:14px;
  color:#777;
}

ul{
  padding-left:20px;
}

li{
  margin-bottom:8px;
}
