* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game {
  width: 100%;
  height: 100vh;
  border-bottom: 30px solid green;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-image: url('./img/A.JPG'); /* imagem inicial */
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out; /* suaviza a troca de fundo */
}

button {
  background: green;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  border: none;
  padding: 1rem;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  cursor: pointer;
  z-index: 1;
}

button:hover {
  border: 2px solid green;
  background: none;
  color: green;
}

.game-over {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.322);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
}

.game-over h1 {
  font-size: 3rem;
  color: red;
  text-align: center;
  margin-top: 15rem;
}

.mario {
  width: 150px;
  position: absolute;
  bottom: 0;
}

.pipe {
  position: absolute;
  bottom: 0;
  right: -80px;
  width: 80px;
}

.goomba {
  position: absolute;
  bottom: 0;
  right: -80px;
  width: 50px;
  height: auto;
}

.clouds {
  width: 550px;
  position: absolute;
  top: 0;
  animation: clouds-animation 20s infinite linear;
}

.score {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(226, 193, 193);
  z-index: 2;
}

@keyframes clouds-animation {
  from { right: -550px; }
  to { right: 100%; }
}

.pipe-animation {
  animation: pipe-move 2s infinite linear;
}

.goomba-animation {
  animation: goomba-move 2s infinite linear;
  animation-delay: 1s;
}

@keyframes pipe-move {
  from { right: -80px; }
  to { right: 100%; }
}

@keyframes goomba-move {
  from { right: -80px; }
  to { right: 100%; }
}

.jump {
  animation: jump 800ms ease-out;
}

@keyframes jump {
  0% { bottom: 0; }
  40% { bottom: 250px; }
  50% { bottom: 250px; }
  60% { bottom: 250px; }
  100% { bottom: 0; }
}
