body{

margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#0d1117;
color:white;

}

.container{

width:90%;
max-width:1000px;
margin:auto;
padding:40px;

}

/* PERFIL */

.perfil{

text-align:center;
margin-bottom:40px;

}

.foto{

width:150px;
border-radius:50%;
border:3px solid #58a6ff;

}

.descricao{

max-width:600px;
margin:auto;
margin-top:15px;
color:#c9d1d9;

}

/* SKILLS */

.skills{

text-align:center;
margin-top:40px;

}

.badges{

margin-top:20px;

}

.skill{

background:#161b22;
padding:10px 15px;
border-radius:8px;
margin:5px;
display:inline-block;
border:1px solid #30363d;
cursor:pointer;

}

.skill:hover{

background:#238636;

}

/* PROJETO ESCONDIDO */

.projeto{

margin-top:80px;
text-align:center;
display:none;

}

.card-projeto{

background:#161b22;
padding:30px;
border-radius:10px;
border:1px solid #30363d;
max-width:600px;
margin:auto;

}

.card-projeto p{

color:#c9d1d9;

}

.video{

margin:20px 0;

}

.botao-github{

display:inline-block;
margin-top:10px;
background:#238636;
color:white;
padding:12px 20px;
border-radius:6px;
text-decoration:none;
font-weight:bold;

}

.botao-github:hover{

background:#2ea043;

}
